html,
html body {
    font-family: 'Pacifico', cursive;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#splash {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
}

#back {
  position: relative;
  font-size: 5vmin;
  border: none;
  outline: none;
  background: none;
  padding: 2vmin;
  font-family: inherit;
  z-index: 1;
}

#canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}

#play {
    background: rgba(102, 185, 229, 0.75);
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 7vmin;
    font-size: 10vmin;
    font-family: inherit;
}

#space_text {
    font-size: 5vmin;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 2px 7px;
}

#tagline {
    color: rgb(136, 168, 185);
    font-family: monospace;
}

#tagline a {
    color: inherit;
}

.hidden {
    opacity: 0 !important;
    transition: .3s !important;
    z-index: 0 !important;
}
